<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>ydyCron v1.0</title>

        <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <style>
            table td {padding:5px;}
            .btn_red{background-color:#ff0000; color:#ffffff;}
        </style>
    </head>
    <body>


<h2>运行中的进程 (让crontab再傻一点)</h2>
<table border="1">
    <thead>
        <tr>
            <td>Pid</td>
            <td>output</td>
            <td>stime</td>
            <td>etime</td>
        </tr>
    </thead>
    <tbody>
{{range .Task_process}}
<tr>
    <td>{{.Pid}}</td>
    <td>{{.Output}}</td>
    <td>{{.Stime}}</td>
    <td>{{.Etime}}</td>
</tr>

{{end}}

    </tbody>
</table>


<h2>所有任务</h2> <a href="/web_task_edit"> 添加任务 </a>
<table border="1">
    <thead>
        <tr>
            <td>Task Id</td>
            <td>任务</td>
            <td>cron time</td>
            <td>创建时间</td>
            <td>操作</td>
            <td>状态</td>
            <td>开始运行时间</td>
            <td>查看历史</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        {{range .Html_task_list}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Settime}}</td>
            <td>{{.Ctime}}</td>
            <td><a href="#" task_id="{{.Id}}" class="change_status">{{if .Status}} [永久停止] {{else}} [开启任务] {{end}}</a></td>
            <td>{{if .Pid}} <button class="kill_task btn_red" task_id="{{.Id}}" pid="{{.Pid}}">[杀掉 ({{.Pid}}) ...]</button> {{else}} <a href="#" class="manual_run_task" task_id="{{.Id}}">[手动运行]</a> {{end}}</td>
            <td>{{.Stime}} </td>
            <td><a href="/web_task_history?task_id={{.Id}}">查看历史</a></td>
            <td><a href="/web_task_edit?task_id={{.Id}}">修改</a></td>
        </tr>
        <tr>
            <td>=>命令</td>
            <td colspan="9" style="color:green;font-weight:600;"> {{.Cmd}} </td>
        </tr>
        <tr>
            <td>=>Desc</td>
            <td colspan="9"> {{.Desc}} </td>
        </tr>
        {{end}}

    </tbody>
</table>


<script>
    $(".kill_task").click(function(){

        var txt = "任务:" + $(this).attr("task_id") + " | pid: " + $(this).attr("pid");
        if(confirm("确定杀掉（"+ txt +"）吗？") == false){
            return;
        }
        $.ajax( {  
            url:'/web_kill_task',// 跳转到 action  
            data:{  
                "task_id":$(this).attr("task_id")
            },  
            type:'get',  
            cache:false,  
            dataType:'html',  //xml、json、script 或 html
            success:function(data) {  
                console.log(data);
                alert(data)
            location.reload();
            },  
            error : function() {  
            }  
        });

    });

$(".manual_run_task").click(function(){

    var txt = "任务: " + $(this).attr("task_id");

    if(confirm("确认手动运行"+ txt +" 吗？") == false){
        return;
    }

    $.ajax( {  
        url:'/web_manual_run_task',// 跳转到 action  
        data:{  
            "task_id":$(this).attr("task_id")
        },  
        type:'get',  
        cache:false,  
        dataType:'html',  //xml、json、script 或 html
        success:function(data) {  
            console.log(data);
            alert(data)
        location.reload();
        },  
        error : function() {  
        }  
    });
});


$(".change_status").click(function(){

    var txt = "任务: " + $(this).attr("task_id");

    if(confirm("确认修改"+ txt +" 状态吗？") == false){
        return;
    }

    $.ajax( {  
        url:'/web_do_task_change_status',// 跳转到 action  
        data:{  
            "task_id":$(this).attr("task_id")
        },  
        type:'get',  
        cache:false,  
        dataType:'html',  //xml、json、script 或 html
        success:function(data) {  
            console.log(data);
            alert(data)
        location.reload();
        },  
        error : function() {  
        }  
    });
});





</script>





